<%- include('../partials/adminHeader') %>

<div class="container tm-mt-big tm-mb-big">
  <div class="row">
    <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
      <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
        <div class="row">
          <div class="col-12">
            <h2 class="tm-block-title d-inline-block">Edit Category</h2>
          </div>
        </div>
        <div class="row tm-edit-product-row">
          <div class="col-xl-12 col-lg-12 col-md-12">
            <form action="/admin/editcategory" class="tm-edit-category-form" method="POST">
                <div class="form-group mb-3">
                  <label for="categoryName">Category Name</label>
                  <input
                    id="categoryName"
                    name="categoryName"
                    type="text"
                    value="<%= data.categoryName %>"
                    class="form-control validate"
                  />
                </div>
                <input
                  type="hidden"
                  id="_id"
                  name="_id"
                  value="<%= data._id %>"
                />
                <div class="col-12">
                  <button type="submit" class="btn btn-primary text-uppercase">Submit</button>
                </div>
              </form>
              
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/adminFooter.ejs') %>