<%- include('../partials/userHeader.ejs') %>

<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5">
                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Forgot Password</p>
                                <div id="options">
                                    <button class="btn btn-primary mb-3" onclick="toggleForm('mobile')">Reset via Mobile</button>
                                    <button class="btn btn-primary mb-3" onclick="toggleForm('email')">Reset via Email</button>
                                </div>

                                <form class="mx-1 mx-md-4" id="mobileNumberForm" style="display: none;" method="post">
                                    <% if(typeof message !== 'undefined'){ %>
                                        <p class="text-danger" id="errorMessage"><%= message %></p>
                                    <% } %>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-mobile-alt fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="tel" name="mobile" id="mobile" class="form-control" required />
                                            <label class="form-label" for="mobileNumber">Mobile Number</label>
                                            <span id="mobileError" class="error"></span>
                                        </div>
                                    </div>
                                    <div class="text-center mb-4">
                                        <button type="submit" class="btn btn-primary" id="sendSMS" value="sendOTP" disabled>Send OTP</button>
                                    </div>
                                </form>

                                <form class="mx-1 mx-md-4" id="emailForm" style="display: none;" method="post">
                                    <% if(typeof message !== 'undefined'){ %>
                                        <p class="text-danger" id="errorMessage"><%= message %></p>
                                    <% } %>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="email" id="email" name="email" class="form-control">
                                            <label class="form-label" for="emailAddress">Your Email</label>
                                            <span id="emailError" class="error"></span>
                                        </div>
                                    </div>
                                    <div class="text-center mb-4">
                                        <button type="submit" class="btn btn-primary" id="sendMail" value="sendOTP" disabled>Send OTP</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center">
                                <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-registration/draw1.png" class="img-fluid" alt="Sample image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function toggleForm(type) {
        const mobileForm = document.getElementById("mobileNumberForm");
        const emailForm = document.getElementById("emailForm");

        if (type === 'mobile') {
            mobileForm.style.display = mobileForm.style.display === 'none' ? 'block' : 'none';
            emailForm.style.display = 'none';
        } else if (type === 'email') {
            emailForm.style.display = emailForm.style.display === 'none' ? 'block' : 'none';
            mobileForm.style.display = 'none';
        }
    }
    const emailInput = document.getElementById('email');
    const mobileInput = document.getElementById('mobile');
    const emailError = document.getElementById('emailError');
    const mobileError = document.getElementById('mobileError');
    let mobileValue = false;
    let emailValue = false;
    
    function enableMobileSubmitButton(){
        const submitButton = document.getElementById('sendSMS');
        if(mobileValue){
            submitButton.removeAttribute('disabled');
        }else{
            submitButton.setAttribute('disabled','disabled');
        }
    }

    function validateMobile(){
        const mobileData = mobileInput.value.trim();
        const mobilePattern = /^[0-9]{10}$/;
        if(!mobilePattern.test(mobileData)){
            mobileError.textContent = 'Invalid mobile number (10 digits)';
        }else{
            mobileError.textContent='';
            mobileValue = true;
        }
        enableMobileSubmitButton();
    }
    mobileInput.addEventListener('input',validateMobile)

    function enableEmailSubmitButton(){
        const submitButton = document.getElementById('sendMail');
        if(emailValue){
            submitButton.removeAttribute('disabled');
        }else{
            submitButton.setAttribute('disabled','disabled');
        }
    }

    function validateEmail(){
        const emailData = emailInput.value.trim();
        const emailPattern = new RegExp('^[a-zA-Z0-9._%+-]+@gmail\.com$');
        if(!emailPattern.test(emailData)){
            emailError.textContent='Email should be in proper format';
        }else{
            emailError.textContent = '';
            emailValue = true;
        }
        enableEmailSubmitButton();
    }
    emailInput.addEventListener('input',validateEmail);

</script>

<%- include('../partials/userFooter.ejs') %>

