<%- include('../partials/userHeader.ejs') %>

<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Password Reset</p>
                                <form class="mx-1 mx-md-4" id="passwordResetForm" method="post" action="/reset_password">
                                    <% if(typeof message !== 'undefined'){ %>
                                        <p class="text-danger" id="errorMessage"><%= message %></p>
                                    <% } %>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" id="password" name="password" class="form-control"/>
                                            <label class="form-label" for="password">Enter New Password</label>
                                            <span id="passwordResetError" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"/>
                                            <label class="form-label" for="confirmPassword">Confirm New Password</label>
                                            <span id="confirmPasswordError" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="text-center mb-4">
                                        <button type="submit" class="btn btn-primary" id="resetPassword" value="reset" disabled>Reset Password</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-registration/draw1.png" class="img-fluid" alt="Sample image">
                            </div>
                            <a href="/login">Back to Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    // forgot password reset validation.
    const resetPassword = document.getElementById('password');
    const confirmPassword = document.getElementById('confirmPassword');
    const resetPasswordError = document.getElementById('passwordResetError');
    const confirmPasswordError = document.getElementById('confirmPasswordError');
    let resetPasswordValue = false;
    let resetConfirmValue = false;

    function enableResetPasswordButton(){
        const submitButton = document.getElementById('resetPassword');
        if(resetPasswordValue&&resetConfirmValue){
            submitButton.removeAttribute('disabled');
        }else{
            submitButton.setAttribute('disabled','disabled');
        }
        enableResetPasswordButton();
    }

    function validateResetPassword() {
    const resetPasswordData = resetPassword.value.trim();
    if (resetPasswordData.length < 6) {
        resetPasswordError.textContent = 'Password should be a minimum of six characters';
    } else {
        resetPasswordValue = true;
        resetPasswordError.textContent = '';
    }
    enableResetPasswordButton();
}

function validateResetConfirmPassword() {
    const resetConfirmPasswordData = confirmPassword.value.trim();
    if (resetConfirmPasswordData.length < 6) {
        confirmPasswordError.textContent = 'Password should be a minimum of six characters.';
    } else {
        resetConfirmValue = true;
        confirmPasswordError.textContent = '';
    }
    enableResetPasswordButton();
}

resetPassword.addEventListener('input', validateResetPassword);
confirmPassword.addEventListener('input', validateResetConfirmPassword); 

</script>

<%- include('../partials/userFooter.ejs') %>
